<<<<<<< HEAD
<<<<<<< HEAD
body {
=======
main {
>>>>>>> bdaca53f (foot/head)
=======
main {
=======
body {
>>>>>>> 5daf56d96cf6c9fb230bec6aea1493e57020e7c5
>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
    width: 100%;
    height: fit-content;
    background-image: url('../../../../../assets/login-register/loginbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    #opacidad {
        background-color: rgba(0, 0, 0, 0.5);
        flex: 1;
    }
    
}

@media (max-width: 767.98px) { 
<<<<<<< HEAD
<<<<<<< HEAD
    body {
=======
    main {
>>>>>>> bdaca53f (foot/head)
=======
    main {
=======
    body {
>>>>>>> 5daf56d96cf6c9fb230bec6aea1493e57020e7c5
>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
        background-image: unset;
        background-color: black;
    }
}
