/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
<<<<<<< HEAD
}
=======
    font-family: 'Geologica', sans-serif;
}
>>>>>>> 5daf56d96cf6c9fb230bec6aea1493e57020e7c5
