<main id="mainForm">

    <h1 id="titleForm">Contact Form</h1>

    <form id="formulary" action="">
        
        <label class="labelForm" for="name">Name</label>

        <input class="inputForm" type="text" id="name" placeholder="Name">

        <label class="labelForm" for="lastname">Lastname</label>

        <input class="inputForm" type="text" id="lastname" placeholder="Lastname">

        <label class="labelForm" for="email">Email</label>

        <input class="inputForm" type="email" name="" id="email" placeholder="mail@mail.com">
        
        <label class="labelForm" for="phone">Phone Number</label>

        <input class="inputForm" type="tel" name="" id="phone" placeholder="5491173642014">

        <input id="inputButton" type="submit" value="SEND FORM">

    </form>

</main>