<footer>

    <div id="footerBox">

        <div id="contactofono">

            <p id="llama">¿Preguntas? Llama al <span><a target="_blank" href="" id="numero">0800 345 1593</a></span></p>

        </div>

        <div id="links">

            <div class="contenedor" id="contenedor1">

                <a href="">Preguntas frecuentes</a>

                <a href="">Prensa</a>

                <a href="">Formas de ver</a>

                <a href="">Preferencias de cookies</a>

                <a href="" class="sinDecorar">Prueba de velocidad</a>

            </div>

            <div class="contenedor" id="contenedor2">

                <a href="">Centro de ayuda</a>

                <a href="">Relaciones con inversionistas</a>

                <a href="">Términos de uso</a>

                <a href="">Información corporativa</a>

                <a href="" class="sinDecorar">Avisos legales</a>

            </div>

            <div class="contenedor" id="contenedor3">

                <a href="">Cuenta</a>

                <a href="">Empleo</a>

                <a href="">Privacidad</a>

                <a href="">Contáctanos</a>

                <a href="" class="sinDecorar">Solo en Netflix</a>

            </div>

        </div>

        <div id="copyright">

            <p>Syloflix Argentina. Germán Prueba 1 Netlify.</p>

        </div>

    </div>

</footer>
