<footer>

    <div id="footerBox">

        <div id="contactofono">

            <p id="llama">Questions? Call <span><a target="_blank" href="" id="numero">+54 9 11 7364 2014</a></span></p>

        </div>

        <div id="links">

            <div class="contenedor" id="contenedor1">

                <a href="">Frequently Asked Questions</a>

                <a href="">Press</a>

                <a href="">Ways to Watch</a>

                <a href="">Cookie Preferences</a>

                <a href="" class="sinDecorar">Speed Test</a>

            </div>

            <div class="contenedor" id="contenedor2">

                <a href="">Help Center</a>

                <a href="">Investor Relations</a>

                <a href="">Terms of Use</a>

                <a href="">Corporate Information</a>

                <a href="" class="sinDecorar">Legal Notices</a>

            </div>

            <div class="contenedor" id="contenedor3">

                <a href="">Account</a>

                <a href="">Jobs</a>

                <a href="">Privacy</a>

                <a href="">Contact Us</a>

                <a href="" class="sinDecorar">Only on Syloflix</a>

            </div>

        </div>

        <div id="copyright">

            <p>Syloflix Argentina.</p>

        </div>

    </div>

</footer>
