<footer>
    <div class="logo-footer">

        <img class="logo-img" src="../../../../../assets/header/LOGOTIPO.png" alt="Imagen de logo footer">

     </div>

     <div class="redes-footer">

         <a class= "hiper" href="instagram.com"><i class="bi bi-instagram icon-redes-footer"></i></a>
         <a class= "hiper" href="facebook.com"><i class="bi bi-facebook icon-redes-footer"></i></a>
         <a class= "hiper" href="youtube.com"><i class="bi bi-youtube icon-redes-footer"></i></a>
         <a class= "hiper" href="web.whatsapp.com"><i class="bi bi-whatsapp icon-redes-footer"></i></a>

     </div>


     <h4>Syloflix - ©Todos los Derechos Reservados </h4>
</footer>