<main>
  <div routerLink="/" id="volver">
    <i class="fa-solid fa-arrow-turn-up"></i>
    <p>Return to Syloflix.</p>
  </div>
  <h1>ABOUT US</h1>
  <div class="membersDiv" *ngFor="let photo of photos; let i = index;">
    <section class="member">
      <img [src]="photo" alt="{{ photo }}">
      <h2>{{ names[i] }}</h2>
      <p class="texto">{{ description[i] }}</p>
      <div class="social-links">
        <a href="{{ linkedin[i] }}" target="_blank">
          <button class="linkedin-button">
            <i class="fa-brands fa-linkedin-in"></i>
          </button>
        </a>
        <a href="{{ github[i] }}" target="_blank">
          <button class="github-button">
            <i class="fa-brands fa-github-alt"></i>
          </button>
        </a>
      </div>
    </section>
  </div>
</main>

<footer>
  <p class="contactFoot">Contacto: dev.team@syloflix.com</p>
</footer>