<div id="forms">

    <form action="" id="formulario">

        <div id="low">

            <div id="login">

                <h1>Inicia Sesión</h1>

                <input type="email" name="" #elcorreo id="mail" placeholder="Email o número de teléfono">

                <input type="password" name="" #lapassword id="contrasenia" placeholder="Contraseña">

                <button type="submit">Iniciar Sesión</button>

                <div id="recordarAyuda">

                    <div id="divRecuerdo">

                        <input type="checkbox" name="" id="recordar">

                        <label for="recordar">Recuérdame</label>

                    </div>

                    <a href="">¿Necesitas ayuda?</a>

                </div>

            </div>

            <div id="avisos">

                <div id="registrar">

                    <p>¿Primera vez en Syloflix? <a href="" id="suscribir">Suscríbete ahora</a></p>

                </div>

                <div id="captchas">

                    <p id="captchaGoogle">Esta página está protegida por Google reCAPTCHA para comprobar que no eres un robot.</p>

                </div>

            </div>

        </div>

    </form>

</div>
