<div id="forms">

    <form (ngSubmit)="submitForm()" #loginForm="ngForm" id="formulario">

        <div id="low">

            <div id="login">

                <h1>Login</h1>

                <p *ngIf="loginFalladito" id="loggeado" #loggeado>{{error}}</p>

                <input type="email" name="mail" #elcorreo id="mail" placeholder="Email or phone number" [(ngModel)]="mail" required>

                <input type="password" name="contrasenia" #lapassword id="contrasenia" placeholder="Password" [(ngModel)]="contrasenia" required>

                <button type="submit">Sign In</button>

                <div id="recordarAyuda">

                    <div id="divRecuerdo">

                        <input type="checkbox" name="" id="recordar">

                        <label for="recordar">Remember me</label>

                    </div>

                    <a href="">Need help?</a>

                </div>

            </div>

            <div id="avisos">

                <div id="registrar">

                    <p>New to Syloflix? <a href="" id="suscribir">Subscribe now</a></p>

                </div>

                <div id="captchas">

                    <p id="captchaGoogle">This page is protected by Google reCAPTCHA to verify that you are not a robot.</p>

                </div>

            </div>

        </div>

    </form>

</div>
