* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

#carrouselgrande {
  position: relative;
}

#carrouselchico {
  position: absolute;
  bottom: -14%;
  z-index: 999999;
}

.carrousel-chico-container {
  position: relative;
  transform: translateY(13rem);
  margin-top: 6rem;

  &:hover {
    z-index: 999;
  }
}
#footer {
    margin-top: 30rem;
}
