<<<<<<< HEAD
<<<<<<< HEAD
=======

a { font-size: 4rem;}

>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.carrousel-grande-container {
    position: relative;
}

.carrousel-chico-container {
    transform: translate(0, -12%);
    z-index: 1;
<<<<<<< HEAD
}
=======
a { font-size: 4rem;}
>>>>>>> bdaca53f (foot/head)
=======
}
>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
