<app-header></app-header>

<div class="carrousel-grande-container">
  <app-carrousel-grande></app-carrousel-grande>
</div>
<!-- 
<div id="carruschicos">
  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>

</div> -->

<app-footer></app-footer>
