<app-header></app-header>

<div id="carrouselgrande">
  <app-carrousel-grande ></app-carrousel-grande>
</div>

<div id="carruschicos" *ngFor="let item of listit;">
  <p class="miTitle"> {{ item }} </p>
  <div class="carrousel-chico-container">
    <app-carrousel-chico></app-carrousel-chico>
  </div>
</div>

<div id="footer">
  <app-footer></app-footer>
</div>

<ngx-spinner
    bdColor="rgba(20, 20, 20, 1)"
    size="large"
    color="#FFFFFF"
    [fullScreen]="true"
  >
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <div class="imgLoader">
    <img src="../../../../../assets/loader/syloflixLoader.png" alt="">
  </div>
  
</ngx-spinner>