#header {
    background-color: black;
    width: 100%;
    
    a {
        height: 6.8rem;
        display: flex;
        align-items: center;
        padding-left: 3.8rem;

        #logo {
            height: 3.7rem;
            width: 9.3rem;
        }

    }

}
