* {
  font-size: 1.6rem !important;
}

.carousel {
  margin: auto;
  overflow-x: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.carousel-inner {
  height: 100vh;
  width: 100%;
}

.carousel-caption {
  left: 3vw;
  width: 30%;
  // transform: translate(0, -50%);
  bottom: 17vw;
  border-radius: 0.5rem;
}

// .carousel-control-prev, .carousel-control-next {
//   width: 5rem;
// }

// .anterior, .proxima {
//   font-size: 3rem !important;
//   opacity: 0;
// }

// .anterior:hover,
// .proxima:hover {
//   display: flex;
//   background-color: rgba(255, 255, 255, 0.3);
//   padding: 2rem;
//   border-radius: 50%;
//   padding: 0.8rem;
//   align-self:center;
// }

// #carouselExampleCaptions:hover .anterior,
// #carouselExampleCaptions:hover .proxima {
//   opacity: 1;
// }

.parrafo {
  font-size: 1.8rem !important;
  padding: 0.4rem 0 1rem;
  line-height: 1.8rem;
  line-height: 3rem;
  text-align: justify;
}

.titulo {
  font-family: SyloflixSansBold;
  text-transform: uppercase;
  font-size: 3.6vw !important;
  text-align: left;
  padding-bottom: 1vw;
  //font-family: 'Crazy', sans-serif;
  color:rgba(254, 254, 254, 1);
  transform: rotate(70);
  text-shadow: none;
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 0.8vw;
  font-size: 1vw;
  height: 4.5vw;
}

.links a {
  height: fit-content;
  font-family: SyloflixSansMedium;
  width: fit-content;
  text-decoration: none;
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  border-radius: 0.5rem;
  text-shadow: none;
  font-size: 1.2vw !important;
}

.reproducir {
  font-size: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.reproducir:hover {
  background-color: rgb(195, 194, 193);
}

.fa-play {
  transform: translate(0, 0);
  font-size: 1.8vw !important;
}

.infoSerie {
  color: white;
  background-color: rgb(81, 75, 77);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.infoSerie:hover {
  background-color: rgba(68, 65, 68, 0.9);
}

#infoBtn {
  width: 1.8vw; 
  height: 1.8vw;
  display:flex; 
  flex-direction: row; 
  align-self: center;
}

#info {
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
}


#opacidad {
  
  flex: 1;
}
