body {
  background-color: rgb(20, 20, 20);
}

.contenedor {
  border-radius: 0.5rem;
  overflow-x: hidden;
  position: relative;
}

.carrouselss {
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 0.3vw;
  overflow-x: hidden;
}

.images {
  width: fit-content;
  border-radius: 0.5rem;
}

.img-thumbnailes {
  width: 300px;
  height: 165px;
  border-radius: 0.5rem;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.boton {
  font-size: 2rem !important;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  color: white;
  border-style: none;
  
}

.boton:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  border-style: none;
  width: 10rem;

}

.dr {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.iq {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}


h2 {
  color: #E5E5E5;
  font-size: 2.6rem;
  font-family: SyloflixSansMedium;
  padding: 6rem 0 1.6rem;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 5rem;
}