<app-modalinfo [peli]="peli"></app-modalinfo>
<div class="containerCarrucelito">
  <p class="miTitle"></p>
  <div class="divImagenes" *ngFor="let movie of cardsData.slice(currentIndex, currentIndex + itemsToShow)">
    <img class="imagen" src="{{ movie.rezise }}" alt="">
    <div class="cardImg">
      <div class="playAddFavs">
        <div class="buttonsLeft">
          <span class="material-symbols-outlined iconsPlay" routerLink="/watch"> play_arrow </span>
          <span *ngIf="!favorited(movie.title)" (click)="addToFavorite(movie)" class="material-symbols-outlined iconsAdd"> heart_plus </span>
          <i *ngIf="favorited(movie.title)" (click)="addToFavorite(movie)" class="fa-solid fa-heart iconsAdd chequed"></i>
        </div>
        <i (click)="passMovie(movie)" class="fa-solid fa-chevron-down moreInfo"></i>
      </div>
      <p class="forYou">{{ movie.foryou }} % for you <span class="material-symbols-outlined hdlogo">hd</span></p>
      <p class="cardText">
        <i class="fa-solid fa-tv iconMoviesC"></i>{{ movie.title }}
      </p>
      <div class="containerText">
        <p class="cardText">
          <i class="fa-solid fa-calendar-days iconMoviesC"></i>
          {{ movie.date }}
        </p>
        <p class="cardText">
          <i class="fa-solid fa-star iconMoviesC"></i>
          {{ movie.popularity }}
        </p>
      </div>
    </div>
  </div>
  <button class="buttonCarruselito" id="buttonBack" (click)="goBack()"><i class="fa-solid fa-chevron-left"></i></button>
  <button class="buttonCarruselito" id="buttonBFordward" (click)="goForward()"><i class="fa-solid fa-chevron-right"></i></button> 
</div>
