
                                      <!-- Carrusel de arriba -->
<section class="carrousel-chico">
 <h2>Mi lista</h2>
  <div class="slick-carousel">
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico1.webp" alt="Spiderman De Regreso a Casa" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico2.webp" alt="La Isla Siniestra" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico3.webp" alt="Tirador"  class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico4.webp" alt="Revancha" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico5.webp" alt="Habia Una Vez En Hollywood" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico6.webp" alt="El Vuelo" class="imagenesCarrusel" class="imagenesCarrusel">
    </div >
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico7.webp" alt="Los Juegos del Hambre" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico8.webp" alt="Whiplash" class="imagenesCarrusel" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico9.webp" alt="Golpe Bajo" class="imagenesCarrusel" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico10.webp" alt="El Soprendente Hombre Araña" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico11.webp" alt="Mision Imposible Repercusion" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico12.jpg" alt="Mision De Rescate" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico13.webp" alt="El Codigo Enigma" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico14.webp" alt="Red Social" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico15.webp" alt="Corazones de Hierro" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico16.webp" alt="Ad Astra" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico17.webp" alt="Karate Kid" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico18.webp" alt="Blade Runner 2049" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico19.webp" alt="Kuroko Basket Last Game" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carrouselChico20.webp" alt="Volver al Futuro" class="imagenesCarrusel">
    </div>

  </div>


</section>

                                      <!-- Carrusel del medio -->
<section class="carrousel-chico">
  <h2>Tendencias</h2>
  <div class="slick-carousel">
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio1.webp" alt="El Padrino" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio2.jpg" alt="La Madre" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio3.jpg" alt="El Hombre Gris"  class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio4.webp" alt="Juego de Honor" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio5.webp" alt="Atrapame Si Puedes" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio6.webp" alt="Moneyball: El juego de la Fortuna" class="imagenesCarrusel" class="imagenesCarrusel">
    </div >
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio7.webp" alt="Scarface" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio8.webp" alt="Bad Boys Para Siempre" class="imagenesCarrusel" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio9.webp" alt="13 Horas" class="imagenesCarrusel" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio10.webp" alt="Intriga" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio11.jpg" alt="¿Que le paso a Lunes?" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio12.jpg" alt="Sin Novedades en el Frente" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio13.webp" alt="Huye!" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio14.webp" alt="Los Juegos del Destino" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio15.webp" alt="Ella" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio16.webp" alt="Parasitos" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio17.jpg" alt="Los Crimenes de la Academia" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio18.webp" alt="El Asesino de las Postales" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio19.webp" alt="Spider-man Lejos de Casa" class="imagenesCarrusel">
    </div>
    <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoMedio20.jpg" alt="ARQ" class="imagenesCarrusel">
    </div>
  </div>


</section>

                                                    <!-- Carrusel final -->
<section class="carrousel-chico">
  <h2>Series premiadas</h2>
<div class="slick-carousel">
  <div>
    <img src="../../../../../assets/carrousel-chico/carruselChicoFinal1.jpg" alt="Peaky Blinders" class="imagenesCarrusel">
  </div>
  <div>
    <img src="../../../../../assets/carrousel-chico/carruselChicoFinal2.webp" alt="The Office" class="imagenesCarrusel">
  </div>
    <div>
  <img src="../../../../../assets/carrousel-chico/carruselChicoFinal3.webp" alt="Breaking Bad" class="imagenesCarrusel">
    </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal4.jpg" alt="Stranger Things" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal5.jpg" alt="Cobra Kai" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal6.webp" alt="The Flash" class="imagenesCarrusel" class="imagenesCarrusel">
      </div >
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal7.jpg" alt="Alice In Borderland" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal8.jpg" alt="Snowpiercer" class="imagenesCarrusel" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal9.webp" alt="Arrow" class="imagenesCarrusel" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal10.jpg" alt="The Sinner" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal11.webp" alt="Billions" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal12.webp" alt="The Walking Dead" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal13.webp" alt="Taboo" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal14.jpg" alt="Gambito de Dama" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal15.jpg" alt="The Last Dance" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal16.jpg" alt="Ozark" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal17.webp" alt="Vikings" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal18.jpg" alt="Shooter" class="imagenesCarrusel">
      </div>
      <div>
      <img src="../../../../../assets/carrousel-chico/carruselChicoFinal19.jpg" alt="The Last Kingdom" class="imagenesCarrusel">
      </div>
<div>
  <img src="../../../../../assets/carrousel-chico/carruselChicoFinal20.webp" alt="The 100" class="imagenesCarrusel">
</div>

</div>

</section>
