* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
body {
    font-size: 62.5%;
}


<<<<<<< HEAD
=======
>>>>>>> bdaca53f (foot/head)
=======
>>>>>>> 5daf56d96cf6c9fb230bec6aea1493e57020e7c5
>>>>>>> 86d38e8f282a3966576fd236a0d18ff24e0bdfb1
/* HEADER */


/* FOOTER */