h1 {
    font-size: 15rem;
}

.boton {
    color: white;
    align-items: center;
}

.boton-activado {
    color: gray;
<<<<<<< HEAD
    align-items: center;
}
=======
    align-items: center;
}

>>>>>>> bdaca53f (foot/head)
