h1 {
<<<<<<< HEAD
    font-size: 15rem;
}

.boton {
    color: white;
    align-items: center;
}

.boton-activado {
    color: gray;
    align-items: center;
}

=======
    background-color: red;
    font-size: 15rem;
}
>>>>>>> 5daf56d96cf6c9fb230bec6aea1493e57020e7c5
