h1 {
    font-size: 15rem;
}

.boton {
    color: white;
    align-items: center;
}

.boton-activado {
    color: gray;
    align-items: center;
}

.dropdown-item{
    font-size: 2rem;
    background-color: black;

}